In [35]:
import pandas as pd

In [36]:
jj=pd.read_json('final.json')

In [37]:
jj.head()

         NID     ER    YR        ED  id       lat        lon
0     300265  230.0  2017  8/9/2017  27  21.38773 -158.00755
1     303962  230.0  2017  8/9/2017  27  21.38773 -158.00755
10    323277  167.0  2017  8/9/2017  27  21.38773 -158.00755
100   301195    NaN  2018  8/8/2018  27  21.38773 -158.00755
1000  324696    NaN  2017  8/9/2017  27  21.38773 -158.00755

In [38]:
jj.to_json('final_fixed.json','records')